.alert-info-inverse {
	border: solid 1px #A2BAC4;
	color: #345A75;
}

.alert-info-light {
	background: #F0F5F9;
	color: #345A75;
}

.text-warning {
	color: #EB4A04;
}

.text-danger {
	color: #EB0615;
}

.text-success {
	color: #2E7C03;
}

.text-info {
	color: #0B79B0;
}

.text-default {
	color: #A3A5A8;
}

.text-struck {
	text-decoration: line-through;
}

.table-middle-align > tbody > tr > td {
     vertical-align: middle;
}

.no-margin-top {
	margin-top: 0px !important;
}

.no-margin-left {
	margin-left: 0px !important;
}

.no-margins {
	margin: 0px !important;
}
